<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home/blogs">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript://">Beauty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript://">Fashion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/home/blogs">Lifestyle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript://">Travel</a>
        </li>
    </ul>
</nav>